.footer-past {
    position: relative;
    top: 90%;
    left: 120px;
}

.link-soc {
    color: white;
    margin-right: 5px;
}

@media (min-width: 400px) and (max-width: 750px){
    .footer-past {
        position: relative;
        width: 70%;
        top: 35%;
        left: 0;
    }

    .link-soc, .content-side, .socially {
        display: none;
        margin: 0;
    }

    .phone-call {
        position: relative;
        width: 400px;
        left: 10%;
        top: 10%;
    }
}